[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytoml = "*"
loguru = "*"
pydantic = "*"
ujson = "*"
aiohttp = "*"
base58 = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
